@use "../../../../../styles/index.scss" as *;

.course-grid-item {
  width: 328px !important;
  overflow: hidden;
}

.course-grid-image {
  height: 180px !important;
  object-fit: cover;
}

.course-grid-title {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
}

.course-grid-description {
  margin-top: 8px;
  color: #666;
}

.course-grid-extra {
  display: flex !important;
  gap: 12px;
  flex-wrap: wrap;
}

.extra-item {
  display: flex;
  align-items: center;
  gap: 4px;
}