@import '../../../styles/index.scss';


.courses{

}
.create-course {
    width: 204px;
    height: 51px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0 rgba(35, 31, 32, 0.35);
    background-color: #038c3f;
}