@import '../../../styles/index.scss';


.courses{
    margin-left: $sidebar-left-width;
    margin-top: $header-nav-height;
    padding: 20px;
    background-color: #f5f5f5;
}
.create-course {
    width: 204px;
    height: 51px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0 rgba(35, 31, 32, 0.35);
    background-color: #038c3f;
}